src/main/resources/wsdl/Pollservice.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-b02-. -->
<definitions targetNamespace="www.itm.uniluebeck.de/pollservice" name="Pollservice" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="www.itm.uniluebeck.de/pollservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="www.itm.uniluebeck.de/pollservice" schemaLocation="Pollservice_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPolls">
    <part name="parameters" element="tns:getPolls"/>
  </message>
  <message name="getPollsResponse">
    <part name="parameters" element="tns:getPollsResponse"/>
  </message>
  <message name="getPoll">
    <part name="parameters" element="tns:getPoll"/>
  </message>
  <message name="getPollResponse">
    <part name="parameters" element="tns:getPollResponse"/>
  </message>
  <message name="voteForOptions">
    <part name="parameters" element="tns:voteForOptions"/>
  </message>
  <message name="voteForOptionsResponse">
    <part name="parameters" element="tns:voteForOptionsResponse"/>
  </message>
  <portType name="PollWebService">
    <operation name="getPolls">
      <input message="tns:getPolls"/>
      <output message="tns:getPollsResponse"/>
    </operation>
    <operation name="getPoll">
      <input message="tns:getPoll"/>
      <output message="tns:getPollResponse"/>
    </operation>
    <operation name="voteForOptions">
      <input message="tns:voteForOptions"/>
      <output message="tns:voteForOptionsResponse"/>
    </operation>
  </portType>
  <binding name="PollWebServicePortBinding" type="tns:PollWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPolls">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getPoll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="voteForOptions">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="Pollservice">
    <port name="PollWebServicePort" binding="tns:PollWebServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

